
#crossword {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.cell {
  border: 1px solid black;
  height: 50px;
  width: 50px;
}

.horizontal {
  background-color: lightblue;
}

.vertical {
  background-color: lightgreen;
}
